.textColor {
    margin-top: 10px;
    margin-bottom: 30px;
    color: orange;

}

.titulo {
    margin-top: 40px;
    font-size: 40px;
    margin-bottom: 40px;
}

.cardNew {

    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    border: 2px solid gray;
    max-width: 400px;
    margin: 20px 20px;
    display: grid;
    grid-auto-columns: minmax(300px, 300px);
    font-size: 25px;
    margin-bottom: 30px;

}